.acticle p {
    color:blue;
    font-size:18px;
    font-style: italic;
    text-align: justify;
    padding: 5px;
  }
  .acticle .read-more {
     color:orange;
     text-decoration: none;
     font-style: italic;
     text-transform: lowercase;
     text-align: right;
     display: block;
}