.team-card {
    &__texty {
        font-size: 15px;
    }
    &__header {
        color: black;
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__position {
        color:orange
    }
    &__img {
        border-radius: 50%;
        overflow: hidden;
        border:2px solid orange;
        padding: calc(50% - 2px);
        font-size: 0;
        background-image: url(/img/krolik-porody-barani-04.jpg);
        background-position: 50%;
        background-size: cover;
        img {        
        max-width: 100%;
        max-height: 100%;
        
        }
    
        
    }
}