@import "./partials/articale/article.scss";
@import "./partials/team-card/team-cardd.scss";

body {
  margin: 0;
}
body * {
  outline: 1px solid lightgrey;
}
.picture-blog {
  &__img {
    width: 55px;
    height: 80px;
    text-align: center;
    &__hover
  }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  
}

footer {
  background-color:orange;
}

.for-columns {
  display: flex;
}

.for-columns__item {
  width: 25%;
}

.three-columns {
  display:flex;

}
.three-columns__item {
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
}


.header {
  padding: 40px 0 15px 0;
  color:orange ;
  font-size: 40px;
  text-decoration:underline;
  text-align: center;

}
.header.dots:after {
  content :"...";
}